obj/Debug/netcoreapp2.0/Blockchain.dll
obj/Debug/netcoreapp2.0/Blockchain.pdb
obj/Debug/netcoreapp2.0/Blockchain.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/Blockchain.csproj.CoreCompileInputs.cache
obj/Blockchain.csproj.nuget.g.targets
obj/Blockchain.csproj.nuget.cache
obj/Blockchain.csproj.nuget.g.props
bin/Debug/netcoreapp2.0/Blockchain.dll
bin/Debug/netcoreapp2.0/Blockchain.pdb
obj/Debug/netcoreapp2.0/Blockchain.pdb
/obj/Debug/netcoreapp2.0/Blockchain.csprojResolveAssemblyReference.cache
/bin/Debug/netcoreapp2.0/Blockchain.runtimeconfig.dev.json
/obj/Debug/netcoreapp2.0/Blockchain.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp2.0/Blockchain.csproj.FileListAbsolute.txt
/obj/project.assets.json
/obj/project.assets.json
/.vs/Blockchain/v15/.suo
/.vs/Blockchain/v15/Server/sqlite3/db.lock
/.vs/Blockchain/v15/Server/sqlite3/storage.ide
/.vs/Blockchain/v15/Server/sqlite3/storage.ide-shm
/.vs/Blockchain/v15/Server/sqlite3/storage.ide-wal
/.vs/Blockchain/v15/.suo
